@charset "utf-8";
@import './reset.css';

.container {
  width: min(1100px, 90%);
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #e4572e;
  padding: 20px 0;
}

header h1 {
  color: #fff;
  font-size: 24px;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

nav a:hover {
  color: antiquewhite;
  transform: translateY(-5px);
}

.banner {
  padding: 60px 0;
  text-align: center;
}

.banner h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.banner p {
  max-width: 500px;
  margin: 0 auto 20px;
  font-size: 16px;
}

.banner-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
}

.primary {
  background-color: #2d7ce3;
  color: #fff;
}

.secondary {
  background-color: transparent;
  border: 2px solid #277ceb;
  color: #2f80ed;
}